@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <h1 class="display-4">KOCA</h1>
    <h1 class="display-4">KARGO</h1>
    <img class="animation__shake" src="~/img/Kargo.jpg" alt="Kargolar" height="460" width="460">
    
</div>
